/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 sept. 2018, 08:11:59
    Author     : ggagnard
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#titre {
    position: absolute;
    color:#336600;
    top: 0px;
    left: 50%;
    font-weight: Bold;
    font-size: 20px;
    font-family: "Arial";
}

/***********************************************************/
/* Position horizontale des cours en classe ou en groupe */
/***********************************************************/
.lundi{
    position: absolute;
    left: 150px;
}

.lundiG1{
    position: absolute;
    left: 150px;
}
.lundiG2{
    position: absolute;
    left: 255px; 
}

.mardi{
    position: absolute;
    left: 365px;
}

.mardiG1{
    position: absolute;
    left: 365px;
}

.mardiG2{
    position: absolute;
    left: 470px;        
}

.mercredi{
    position: absolute;
    left: 580px;
}

.mercrediG1{
    position: absolute;
    left: 580px;
}

.mercrediG2{
    position: absolute;
    left: 685px;    
}

.jeudi{
    position: absolute;
    left: 795px;
}

.jeudiG1{
    position: absolute;
    left: 795px;
}

.jeudiG2{
    position: absolute;
    left: 900px;    
}

.vendredi{
    position: absolute;
    left: 1010px;
}

.vendrediG1{
    position: absolute;
    left: 1010px;
}

.vendrediG2{
    position: absolute;
    left: 1115px; 
}

/***********************************************************/
/* Hauteur des cours selon le nombre d'heures */
/***********************************************************/
.uneHeure{

    line-height: 17px;
    height: 52px; 
}

.deuxHeures{

    line-height: 36px;
    height: 110px;
}

.troisHeures{

    line-height: 40px;
    height: 170px;
}

.quatreHeures{

    line-height: 40px;
    height: 230px;
}

/**************************************************************************************/
/* Largeur des cours en classe ou en un seul groupe et cours en deux groupes */
/**************************************************************************************/
.coursClasseOu1Groupe{
    width: 205px;
    font-size: small;
}

.cours2Groupes{
    width: 100px;
    font-size:x-small;
}

/***********************************************************/
/* Position verticale en fonction de l'heure */
/***********************************************************/
.huitHeure{
    position: absolute;
    top: 50px;
}

.huitHeureTrente{
    position: absolute;
    top: 80px;
}

.neufHeure{
    position: absolute;
    top: 110px;
}

.neufHeureTrente{
    position: absolute;
    top: 140px;

}
.dixHeure{
    position: absolute;
    top: 170px;
}

.onzeHeure{
    position: absolute;
    top: 230px;
}

.douzeHeure{
    position: absolute;
    top: 290px;
}

.douzeHeureTrente{
    position: absolute;
    top: 320px;
}

.treizeHeure{
    position: absolute;
    top: 350px;
}

.quatorzeHeure{
    position: absolute;
    top: 410px;
}

.quatorzeHeureTrente{
    position: absolute;
    top: 440px;
}

.quinzeHeure{
    position: absolute;
    top: 470px;
}

.seizeHeure{
    position: absolute;
    top: 530px;
}

.dixseptHeure{
    position: absolute;
    top: 590px;
}

/***********************************************************/
/* Style des jours de la semaine */
/***********************************************************/
#lundi{
    background-color: #EEEEEE;
    width: 205px;
    position: absolute;
    top: 20px;
    left: 150px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
}

#mardi{
    background-color: #DDDDDD;
    width: 205px;
    position: absolute;
    top: 20px;
    left: 365px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
}

#mercredi{
    background-color: #CCCCCC;
    width: 205px;
    position: absolute;
    top: 20px;
    left: 580px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
}

#jeudi{
    background-color: #BBBBBB;
    width: 205px;
    position: absolute;
    top: 20px;
    left: 795px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
}

#vendredi{
    background-color: #AAAAAA;
    width: 205px;
    position: absolute;
    top: 20px;
    left: 1010px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
}

/***********************************************************/
/* Style des heures */
/***********************************************************/
#huit{
    background-color: #FFF0F0;
    width: 100px;
    position: absolute;
    left: 10px;
    top: 50px;
    height: 35px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#neuf{
    background-color: #FFE0E0;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 110px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#dix{
    background-color: #FFD0D0;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 170px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#onze{
    background-color: #FFc0c0;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 230px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#douze{
    background-color: #FFb0b0;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 290px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#treize{
    background-color: #FFa0a0;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 350px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#quatorze{
    background-color: #FF9090;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 410px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#quinze{
    background-color: #FF8080;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 470px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#seize{
    background-color: #FF7070;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 530px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#dixSept{
    background-color: #FF6060;
    width: 100px;
    position: absolute;
    left: 10px;
    height: 35px;
    top: 590px;
    text-align: center; 
    border: 2px;
    border-style: ridge;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

/***********************************************************/
/* Style des matières */
/***********************************************************/
.francais{
    background-color: lightsalmon;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;    
}

.maths{
    background-color: #ff88ff;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;    
}

.accPerso{
    background-color: #ff5555;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;    
}

.physique{
    background-color:#00cc00;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;    
}

.informatique{
    background-color: #9999ff;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;    
}

.anglais{
    background-color: gold;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;   
}

.anglaisTech{
    background-color: orange;
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-style: outset;
    border-color: #CCCCCC;   
}
.aj{
    line-height: 12px;
}
    
.ag{
    line-height: 25px;
}